.input1 {
  width: 400px;
  height: 30px;
  margin-right: 1400px;
  font-size: 25px;
  margin-top: 50px;
}
.title {
  margin-top: 40px;
  font-size: 100px;
}
.title1 {
  margin-right: 1650px;
}

.input2 {
  width: 400px;
  height: 30px;
  margin-right: 200px;
  font-size: 25px;
  margin-top: 0px;
}
.first_part {
  height: auto;
  width: auto;
}
.title2 {
  margin-right: 165px;
}
